@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<a href="@Url.Action("appointment", "Dent1Controller2", new { area = "" })" class="btn btn-primary">Hacer Cita</a>

<a href="@Url.Action("index", "Dent1Controller2", new { area = "" })" class="btn btn-primary">Inicio</a>